@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    overflow-x: hidden;
    height: 100svh;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.qr-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    margin-top: 7em;
    padding-bottom: 3em;
    border-radius: 1.5em;
}

.qr-container img {
    border-radius: 1em;
    width: 375px;
    margin: 0 auto;
}

.qr-container h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.qr-container p {
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
    font-weight: 400;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: fixed;
    bottom: 0;
    padding-bottom: 1em;
}
.att-div {
    display: flex;
}

.attribution a {
    text-decoration: none;
    padding-left: 5px;
    color: hsl(218, 44%, 22%);
}

.attribution p {
    color: hsl(0, 0%, 19%);
    font-weight: 300;
}

@media (max-width: 600px) {
    .qr-container img {
        width: 325px;
    }

    .qr-container h1 {
        font-size: 1.5rem;
    }

    .qr-container p {
        font-size: 1rem;
    }

    .qr-container {
        gap: 1em;
    }

    .attribution a, p {
        font-size: 10px;
    }

}

@media (max-width: 432px) {
    .qr-container img {
        width: 245px;
    }

    .qr-container h1 {
        font-size: 1.2rem;
    }

    .qr-container p {
        font-size: .8rem;
    }
}